# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
test/
test_yolo.py
test_tesseract

# Build artifacts
build/
dist/
*.egg-info/

# Operating system
.DS_Store
Thumbs.db

# Images / datasets
imgs/
data/

# Docs
backlog.md
revision.md

# MOdelos
models/